<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger -- %msg -- %n
            </pattern>
        </encoder>
    </appender>
    <appender name="rolling_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/finatra-freemarker-seed.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger -- %msg -- %n
            </pattern>
        </encoder>
    </appender>
    <root level="error">
        <appender-ref ref="rolling_file"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>
